### 연산자의 종류

1. 산술 연산자 +   -   *   /   //   %
2. 지수 연산자 **
3. 대입(복합)연산자  =   +=   -=   *=   /=   //=   %=
4. 관계(비교) 연산자 : 두 수를 비교하여 참 또는 거짓을 반환.  >    >=   <   <=   ==   !=
5. 논리 연산자 : 조건문을 연결하기 위해 사용.  and or not
6. 멤버 연산자 : 해당 값이 대상 객체에 존재하는지 확인하기 위해 사용.  in   not in
6. 삼항 연산자 a if 조건식 else b

In [3]:
#산술연산자
#나누기(/), 나머지(%), 몫(//)

num1 = 10
num2 = 7

# :.2f -> 소수점 두번째자리까지, 반올림출력
print(f"나누기 : {num1/num2:.2f}")
print(f"나머지 : {num1%num2}")
print(f"몫 : {num1//num2}")

나누기 : 1.43
나머지 : 3
몫 : 1

- 문자열 더하기

In [8]:
str1 = '안녕'
str2 = '하세요'
print(str1+str2)
print(str1,str2)
print(str1,str2, sep='')

안녕하세요
안녕 하세요
안녕하세요

In [9]:
num_str1 = '10'
num_str2 = '7'
print(num_str1+num_str2)

107

In [10]:
#문자열+숫자 => X(자동형변환이 안됨)
num1 = 10
str1 = '7'

print(num1+str1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
#강제형변환 해주기
i_str1 = int(str1)
print(type(i_str1))
print (num1+i_str1)

<class 'int'>
17

In [15]:
num1 = 23
num2 = 3
print('더하기 결과 : ',num1+num2)
print('빼기 결과 : ',num1-num2)
print('곱하기 결과 : ',num1*num2)
print(f'나누기 결과 : {num1/num2:.2f}')

더하기 결과 :  26
빼기 결과 :  20
곱하기 결과 :  69
나누기 결과 : 7.67

In [19]:
num = int(input("정수를 입력하세요 >> "))
num

정수를 입력하세요 >> 23

23

In [20]:
num1 = int(input("정수를 입력하세요 >> "))
num2 = int(input("정수를 입력하세요 >> "))
print('더하기 결과 : ',num1+num2)
print('빼기 결과 : ',num1-num2)
print('곱하기 결과 : ',num1*num2)
print(f'나누기 결과 : {num1/num2:.2f}')

정수를 입력하세요 >> 3
정수를 입력하세요 >> 7
더하기 결과 :  10
빼기 결과 :  -4
곱하기 결과 :  21
나누기 결과 : 0.43

In [22]:
s = 'x\n'
print(s*10)

x
x
x
x
x
x
x
x
x
x

- 지수연산자(기호:**)
  - 제곱

In [24]:
2**3

8

In [25]:
#키보드로 입력받아 지수연산
num1 = int(input("정수입력 > "))
num2 = int(input("지수입력 > "))
print(f'{num1}의 {num2}승은 {num1**num2}입니다.')

정수입력 > 2
지수입력 > 3
2의 3승은 8입니다.

In [27]:
#치환
a = 10
b = 20
a,b = b,a
print(f'a = {a}')
print(f'b = {b}')

a = 20
b = 10

In [33]:
# crtl + enter 로 import, as 변수명 으로 변수명설정
import random as rd

In [35]:
a = rd.randint(1,10)
b = rd.randint(1,10)
print(f"a:{a}, b:{b}")

print(a < b)
print(a > b)
print(a == b)
print(a != b)

a:10, b:1
False
True
False
True

### 논리연산자
- True, False의 논리값(boolean값)을 '반환'하는 연산자
- not연산자 ++

In [36]:
a = 3
b = 7
print(f'a < b:{a < b}')
print(f'a < b:{not a < b}')

a < b:True
a < b:False

- and 연산자
  - 두 조건이 모두 참(True)일 경우 참(True)로 반환

In [42]:
print(3 < 5)
print(10 < 20)

print(3 < 5 and 10 > 20)

True
True
False

- or 연산자
    - 두 조건이 하나라도 참(True)이면 반환

In [43]:
print(3 < 5)
print(10 < 20)

print(3 < 5 or 10 > 20)

True
True
True

In [44]:
str1 = '파이썬 최고'
'파이썬' in str1

True

In [45]:
str1 = '파이썬 최고'
'파이썬' not in str1

False

In [46]:
list1 = [77, 38, 10]
33 in list1

False

In [47]:
list1 = [77, 38, 10]
33 not in list1

True

### 삼항연산자
- a(True) if (조건식) else b(False)

In [48]:
score = 80
"합격" if score >= 60 else "불합격"

'합격'

In [49]:
score = 50
"합격" if score >= 60 else "불합격"

'불합격'

In [65]:
a = int(input('정수입력 >> '))
b = int(input('정수입력 >> '))
print(f'a :{a}') if a > b else print(f'b :{b}')

정수입력 >> 8
정수입력 >> 2
a :8

In [66]:
a = int(input('정수입력 >> '))
b = int(input('정수입력 >> '))
print(f'두 수의 차 : {a-b}') if a>b else print(f'두 수의 차 : {b-a}')

정수입력 >> 8
정수입력 >> 4
두 수의 차 : 4

In [67]:
a = int(input('정수입력 >> '))
print(f'{a}는(은) 홀수입니다.') if a%2==1 else print(f'{a}는(은) 짝수입니다.')

정수입력 >> 5
5는(은) 홀수입니다.